.post {
  text-align: center;
  border-style: solid;
  margin-bottom: 10px;
}

.link-button {
  background: none;
  color: blue;
  border: none;
  padding: 10;
  margin: 10;
  padding-right: 10px;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
}

.link-button:hover {
  color: darkblue;
}

.title {
  font-size: 2em;
  color: blue;
  border-color: blue;
  
  border-style: solid;
  margin: 0.25em 0;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.username {
  font-size: 1.5em;
  margin: 0.25em 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}